.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

p.title {
  color:black;
  margin:0px;
}

h1.title {
  margin: 0px;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.col {
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 1;
  order: 1;
  text-align: left;
  background-color: #ffffff;
  color: white;
  flex-wrap: wrap;
}

.App-title {
  font-size: 1.5em;
  color: black;
  padding:10px;
}

.App-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  order: 2;
  padding: 8px;
  background-color: #555;
  color: white;
  padding-left: 0;
}

.App-body {
  display: flex;
  flex-direction: row;
  order: 3;
  margin: 10px;
  background-color: #ffffff;
  color: white;
  padding: 0px;
}

.slideshow {
  background-color: #222;
  border: 1px #ccc solid;
  width: 55%;
}

.activity {
  background-color: #888;
  border: 1px #ccc solid;
  width: 25%
}

.App-body2 {
  flex: 1;
  order: 3;
  background-color: #888;
  color: white;
  padding: 10px;
}

.App-footer{
  flex-grow: 1;
  order: 9;
  background-color: #999;
  color: white;
  padding-left: 0;
}

.App-link {
  background-color: #555;
  color: white;
  padding-left: 0;
}
